body {
  /* background-color: #76a9e0; */
  background-image: url("../img/bg-book2.jpg");
  background-color: #C0C0C0;
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   height: 100%;
  margin: 0;
}
.btn{
color: white;
background-color: black;
}
.btn:hover {
  background-color: #purple;
  color: white;
}

.center {
  margin: auto;
  margin-top: 200px;
}

#header {
  font-family: 'Righteous', sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: 'Righteous', sans-serif;
}

.book-list {
  margin-top: 50px;
  visibility: hidden;
}
